@blue :#53686b;

// body, #root, .App{
//   min-height: 1000px
// }
// #root{
//   height: 100%
// }

.allpage{
  height: 100%;
  max-width : 200px
}
.header {
  height: 125px;
  background-color: @blue;
}

.recipeCard {
  h4 {
    font-size: 20px;
  }

  h6 {
    font-size: 0.8em;
  }
}

// steps

.toggle-base {
  height: 20px;
}

.toggle-enter {
  animation-name: fade-in;
  animation-duration: 300ms;
}

.toggle-leave {
  animation-name: fade-out;
  animation-duration: 300ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
    height: 0px;
  }

  to {
    opacity: 1;
    height: 20px;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    height: 20px;
  }

  to {
    opacity: 0;
    height: 0px;
  }
}

// navbar
.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  // max-width: 480px;
  background-color: #e1e3de;
}

// activity
.activity {
  .MuiBox-root-97 {
    padding-left: 0;
    padding-right: 0;
  }
}
