@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900|Nunito:300,400,400i,600,700,800,900|Oswald:300,400,500,600,700|Roboto:300,400,400i,500,700,900&display=swap");
.allpage {
  font-family: "Nunito", sans-serif !important;
}
.allpage a {
  text-decoration: none !important;
  color: black;
}
.allpage a:hover {
  color: black;
}
.header {
  height: 100px;
  background-color: #53686b;
  padding-top: 10px;
  padding-bottom: 10px;
}
.recipeCard h4 {
  font-size: 20px;
}
.recipeCard h6 {
  font-size: 0.8em;
}
.toggle-base {
  height: 20px;
}
.toggle-enter {
  animation-name: fade-in;
  animation-duration: 300ms;
}
.toggle-leave {
  animation-name: fade-out;
  animation-duration: 300ms;
}
@keyframes fade-in {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 20px;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    height: 20px;
  }
  to {
    opacity: 0;
    height: 0px;
  }
}
.navbar {
  background-color: #e1e3de;
}
.navbar a {
  text-decoration: none !important;
  color: #451503;
}
.navbar a h6 {
  margin-bottom: 0;
}
.navbar a:hover {
  color: #663f30;
}
.navbar img:hover {
  transform: scale(1.1);
}
.activity .MuiBox-root-97 {
  padding-left: 0;
  padding-right: 0;
  font-family: "Nunito", sans-serif !important;
}
.activity h6 {
  font-family: "Nunito", sans-serif !important;
}
.brewing .homeimage {
  width: 100%;
}
.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 80px;
  white-space: nowrap;
}
.MuiPaper-root {
  max-width: 480px;
  justify-items: center;
}
.MuiDrawer-paperAnchorBottom {
  margin: auto;
}
