@blue :#53686b;

.header {
    height: 125px;
    background-color: @blue;
}


.recipeCard {
    h4 {
        font-size: 20px;
    }

    h6 {
        font-size: 0.8em;
    }
}

// steps

.toggle-base {
    height: 20px;
}

.toggle-enter {
    animation-name: fade-in;
    animation-duration: 300ms;
}

.toggle-leave {
    animation-name: fade-out;
    animation-duration: 300ms;
}

@keyframes fade-in {
    from {
        opacity: 0;
        height: 0px;
    }

    to {
        opacity: 1;
        height: 20px;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        height: 20px;
    }

    to {
        opacity: 0;
        height: 0px;
    }
}

// navbar
.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e1e3de
}

#ex1Slider .slider-selection {
	background: #BABABA;
}