@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900|Roboto:300,400,400i,500,700,900&display=swap");
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
.bgcolor1 {
  background-color: #3b383e;
}
.bgcolor2 {
  border-color: #53686B;
  border-style: solid;
  border-radius: 50%;
  padding: 10px;
}
.allpage {
  min-height: 100%;
  font-family: "Nunito", sans-serif !important;
}
.allpage a {
  text-decoration: none !important;
  color: #3b383e;
}
.allpage a:hover {
  color: #3b383e;
}
.allpage .header {
  height: 75px;
  background-color: #53686B;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #919ea0;
}
.allpage .navbar a {
  text-decoration: none !important;
  color: #3b383e;
}
.allpage .navbar a h6 {
  margin-bottom: 0;
}
.allpage .navbar a:hover {
  color: #663f30;
}
.allpage .navbar img:hover {
  transform: scale(1.1);
}
.activity .MuiBox-root-97 {
  padding-left: 0;
  padding-right: 0;
  font-family: "Nunito", sans-serif !important;
}
.activity h6 {
  font-family: "Nunito", sans-serif !important;
}
.brewing .methodcard .methodname {
  height: 55px;
}
.brewing .rowhomeimage {
  margin-right: -30px;
  margin-left: -30px;
  margin-top: -25px;
}
.brewing .rowhomeimage .homecarousel {
  width: 100%;
}
.brewing .subtext {
  font-size: 14px;
}
.profile .profileinfo {
  background-color: #53686B;
  box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.15);
}
.errorpage {
  height: 100%;
  margin: -15px;
  margin-top: -25px;
}
.errorpage .errorimage {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-bottom: 60px;
}
.demopage .timersection {
  background-color: #3b383e;
  margin-right: -30px !important;
  margin-left: -30px !important;
  margin-top: -25px !important;
}
.demopage .timersection .timer {
  width: 100%;
}
.demopage .timersection .timer .timerminute {
  font-size: 90px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: white;
}
.demopage .timersection .timer .timersecond {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: white;
  padding: 0 0 15px 0;
}
.demopage .timersection .progress {
  height: 30px;
}
.demopage .timersection .progress .bg-info {
  background-color: #c3935b !important;
}
.demopage .timersection .CircularProgressbar .CircularProgressbar-path {
  stroke: #c3935b;
}
.demopage .timersection .CircularProgressbar .CircularProgressbar-text {
  fill: white;
}
.demopage .timersection .makeStyles-start-76:hover {
  background-color: #53686b;
}
.demopage .timersection .makeStyles-pause-320:hover {
  background-color: #ff0015;
}
.demopage .timersection .MuiFab-primary:hover {
  background-color: #303f9f;
}
.review .SocialMediaShareButton {
  display: inline-block;
}
.recipeCard {
  font-family: "Nunito", sans-serif !important;
  max-width: 420px;
}
.recipeCard h4 {
  font-size: 20px;
}
.recipeCard h6 {
  font-size: 0.8em;
}
.recipeCard .starrating {
  width: 20%;
}
.recipeCard a:hover img {
  background-color: blue;
}
.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 80px;
  white-space: nowrap;
}
.filterHeader {
  width: 100%;
  background-color: #53686B;
  height: 20px;
}
.MuiPaper-root {
  max-width: 480px;
  justify-items: center;
}
.MuiDrawer-paperAnchorBottom {
  margin: auto;
}
.backbutton {
  position: absolute;
  top: 80px;
  left: 10px;
  width: 50px;
  padding: 10px;
}
.backbutton:hover {
  background-color: #bcbcbc;
  border-radius: 50%;
}
.homebutton {
  padding: 10px;
  height: 100%;
}
.homebutton:hover {
  background-color: #bcbcbc;
  border-radius: 50%;
}
.pagination-lg {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.pagination-lg .page-link {
  padding: 0 17px !important;
  color: #6C757D;
  font-size: 35px !important;
}
.overlaycontainer {
  position: relative;
}
.overlay {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.overlaycontainer:hover .overlay {
  opacity: 0.3;
}
.overlaycontainer:hover .middle {
  opacity: 1;
}
.text {
  background-color: #53686B;
  color: #FFDED5;
  font-size: 16px;
  padding: 16px 32px;
}
.toggle-base {
  height: 20px;
}
.toggle-enter {
  animation-name: fade-in;
  animation-duration: 300ms;
}
.toggle-leave {
  animation-name: fade-out;
  animation-duration: 300ms;
}
@keyframes fade-in {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 20px;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    height: 20px;
  }
  to {
    opacity: 0;
    height: 0px;
  }
}
